/* inter-regular */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/inter-v20-latin-regular.woff2") format("woff2"), url("/fonts/inter-v20-latin-regular.ttf") format("truetype");
}

/* inter-500 */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/inter-v20-latin-500.woff2") format("woff2"), url("/fonts/inter-v20-latin-500.ttf") format("truetype");
}

/* inter-600 */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/inter-v20-latin-600.woff2") format("woff2"), url("/fonts/inter-v20-latin-600.ttf") format("truetype");
}

/* inter-700 */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/inter-v20-latin-700.woff2") format("woff2"), url("/fonts/inter-v20-latin-700.ttf") format("truetype");
}

/* inter-800 */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/inter-v20-latin-800.woff2") format("woff2"), url("/fonts/inter-v20-latin-800.ttf") format("truetype");
}

/* jetbrains-mono-regular */
@font-face {
	font-display: swap;
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/jetbrains-mono-v24-latin-regular.woff2") format("woff2"), url("/fonts/jetbrains-mono-v24-latin-regular.ttf") format("truetype");
}

/* jetbrains-mono-600 */
@font-face {
	font-display: swap;
	font-family: "JetBrains Mono";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/jetbrains-mono-v24-latin-600.woff2") format("woff2"), url("/fonts/jetbrains-mono-v24-latin-600.ttf") format("truetype");
}

body {
	background-color: #fafafa;
	font-family: "Inter", sans-serif;
	height: 100vh;
	margin: 0;
	display: flex;
	justify-content: center;
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 1px, transparent 1px), linear-gradient(rgba(0, 0, 0, 0.05) 1px, transparent 1px);
	background-size: 48px 48px;
	background-position: center;
	pointer-events: none;
}
